{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Dashboard</h2>
            {% if user.is_authenticated %}
                {% if user.first_name and user.last_name %}
                    <p>Welcome, {{ user.first_name }} {{ user.last_name }}</p>
                {% else %}
                    <p>Welcome, {{ user.email }}</p>
                {% endif %}
                <div class="resume-templates">
                <h2>Select a Resume Template</h2>
                <div class="row">
                    {% for template in resume_templates %}
                    <div class="col-md-4">
                        <a href="{% url 'generate_resume' template.name %}">
                            <img src="{% static template.preview_image %}" alt="{{ template.name }} Preview" class="img-fluid">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Edit Profile</h5>
                        <p class="card-text">Update your personal information.</p>
                        <a href="{% url 'edit_user' user_id=user.id %}" class="btn btn-primary">Edit Account</a>
                        <a href="{% url 'deleteInfo' %}" class="btn btn-primary">Delete Experience</a>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Edit Resume</h5>
                        <p class="card-text">Create a new resume or make changes to your current resume.</p>
                        <a href="{% url 'editor' %}" class="btn btn-primary">Resume Editor</a>
                        <form action="{% url 'loadResume' %}" method="post">
                            {% csrf_token %}
                            <select name="resumeName">
                                <option value="">Resume select</option>
                                {% for resume in resumes %}
                                    <option value="{{ resume.name }}">{{ resume.name|safe }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Load</button>
                        </form>
                        <form action="{% url 'DeleteResume' %}" method="post">
                            {% csrf_token %}
                            <select name="resumeName">
                                <option value="">Resume select</option>
                                {% for resume in resumes %}
                                    <option value="{{ resume.name }}">{{ resume.name|safe }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
                <a href="{% url 'quickResume' user_id=user.id %}" class="btn btn-danger">Make Resume</a>
                <br><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
