{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Dashboard</h2>
            {% if user.is_authenticated %}
                {% if user.first_name and user.last_name %}
                    <p>Welcome, {{ user.first_name }} {{ user.last_name }}</p>
                {% else %}
                    <p>Welcome, {{ user.email }}</p>
                {% endif %}
                <a href="{% url 'edit_user' user_id=user.id %}" class="btn btn-primary">Edit Account</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}