{% extends 'base.html' %}

{% comment %}
{% endcomment %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <main class="form-signin w-100 m-auto">
            <form>
                <h2 class="text-center mb-4">Register</h2>
                <div class="form-floating">
                    <input id="inputEmail" class="form-control" type="email" placeholder="name@example.com">
                    <label for="inputEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input id="inputPassword" class="form-control" type="password" placeholder="Password">
                    <label for="inputPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            </form>
        </main>
    </div>
{% endblock %}